# dependencies
/node_modules
/server/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
**/coverage/

# production
/frontend/build
/server/dist
/server/dist.zip

# environment variables
.env*
cypress.env.json
.secrets

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*