version: 2.1

orbs:
  node: circleci/node@5.0.2
  eb: circleci/aws-elastic-beanstalk@2.0.1
  aws-cli: circleci/aws-cli@3.1.1

jobs:
  build:
    docker:
      - image: "cimg/node:20.12"
    steps:
      - node/install:
          node-version: '20.12'         
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run:
          name: Install Root Dependencies
          command: |
            npm install
            echo "Root dependencies installed."
      - run:
          name: Install Front-End Dependencies
          command: |
            echo "NODE --version" 
            echo $(node --version)
            echo "NPM --version" 
            echo $(npm --version)
            npm run install-client
      - run:
          name: Install Server Dependencies
          command: |
            npm run install-server
            echo "Server dependencies installed."
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Lint
          command: |
            npm run lint 
      - run:
          name: Front-End Build
          command: |
            npm run build-client
            echo "Frontend built successfully."
      - run:
          name: Server Build
          command: |
            npm run build-server
            echo "Backend built successfully."
      - persist_to_workspace:
          root: .
          paths:
            - frontend/build
            - server/dist

  deploy:
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install:
          node-version: '20.12' 
      - checkout
      - aws-cli/setup
      - eb/setup
      - attach_workspace:
          at: .
      - run:
          name: Set Up AWS Credentials
          command: |
            echo "Setting up AWS credentials..."
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            aws configure set default.region $AWS_DEFAULT_REGION
      - run:
          name: Deploy Frontend to S3
          command: |
            echo "Deploying Frontend to S3..."
            aws s3 sync frontend/build s3://$BUCKET_NAME --delete
      - run:
          name: Deploy Backend to Elastic Beanstalk
          command: |
            cd server
            eb init $EB_APP_NAME -r $AWS_DEFAULT_REGION -p node.js
            eb setenv JWT_SECRET=$JWT_SECRET NODE_ENV=production POSTGRES_HOST=$POSTGRES_HOST POSTGRES_NAME=$POSTGRES_NAME POSTGRES_PASSWORD=$POSTGRES_PASSWORD POSTGRES_PORT=$POSTGRES_PORT POSTGRES_USER=$POSTGRES_USER
            echo "Deploying Backend to Elastic Beanstalk..."
            eb deploy $EB_ENV
            echo "Deployment completed."

workflows:
  employee-polling:
    jobs:
      - build
      - hold:
          type: approval
          requires:
            - build
          filters:
            branches:
              only:
                - main
      - deploy:
          requires:
            - hold
